* {
    font-family: 'Noto Sans Thai', sans-serif;
    font-family: 'Mitr', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(57, 56, 56);
    color: white;
    display: block;
}


.draggable {
    width: 25%;
    min-height: 0%;
    /* margin: 1rem 0 0 1rem;*/
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%;
    touch-action: none;
    user-select: none;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 7 วัน */
    grid-template-rows: repeat(12, 1fr);
    /* 12 ชั่วโมง */
    gap: 2px;
    width: 100%;
    height: 80vh;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    position: relative;
}

.draggable-box {
    width: 72px;
    height: 48px;
    background-color: lightblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    margin-bottom: 10px;

    position: relative;
    
}

.initial-box {
    width: 100%;
    height: 120px;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.box-container {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.free_area {

    height: 400px;
    position: relative;
    width: 100%;

    border: 2px dashed #aaa;
    overflow: hidden; /* กันไม่ให้กล่องล้นออก */
}